*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*--------- GENERAL ---------*/

body {
  background-color: rgb(235, 234, 250);
}

header {
  background-color: white;
  margin-block: 20px;
}

h1 {
  color: rgb(51, 47, 109);
  padding-bottom: 10px;
  text-transform: uppercase;
}

h2 {
  color: rgb(255, 255, 255);
}

.h2Section {
  color: rgb(51, 47, 109);
  background-color: white;
  padding-left: 6px;
  padding-block: 8px;
  text-align: left;
}

/*--------- NAV: TOGGLE-MENU ---------*/

.mainNav {
  display: none;
}

.mainNav.open {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: rgb(153, 150, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.mainNav ul {
  list-style: none;
}

.filterNav {
  display: none;
}

.filterNav.open {
  display: block;

  display: flex;
  align-items: center;
  gap: 10px;
}

li a {
  text-decoration: none;
}

/*--------- PRODUCTS ---------*/

article p {
  color: rgb(235, 234, 250);
}

.productlist article {
  border: 1px solid #000000;
  padding: 6px;
  background-color: rgb(58, 55, 94);
  border-radius: 6px;
  margin-bottom: 10px;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

button {
  margin-bottom: 8px;
}

.container div {
  display: flex;
  gap: 10px;
}

/*-------- FORM-CONTACT -------*/
form {
  justify-content: center;
  background-color: rgb(153, 150, 196);
  border-radius: 8px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 10px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 10px;
}
fieldset.contactInput label {
  position: relative;
  margin-bottom: 25px;
}

input {
  border-radius: 8px;
  border: none;
  padding: 4px;
}

fieldset.contactInput input {
  width: 300px;
}

fieldset.contactInput label span {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;

  pointer-events: none;
  transition: top 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

label input:focus + span {
  top: -20px;
  align-items: start;
}

/*--------- FOOTER ---------*/
footer {
  margin-top: 20px;
  padding: 20px;
  display: block;
}

footer a {
  text-decoration: none;
}

/*----- external-links -----*/
footer .fa {
  font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
  header {
    padding-inline: 40px;
  }

  form {
    display: flex;
    margin-block: 20px;
    margin-inline: 200px;
  }

  .h2Section {
    display: flex;
    justify-content: center;
  }

  .productlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
