*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*--------- GENERAL ---------*/

body {
  background-color: rgb(235, 234, 250);
}

header {
  background-color: white;
  margin-block: 20px;
}

h1 {
  color: rgb(51, 47, 109);
  padding-bottom: 10px;
}

h2 {
  color: rgb(255, 255, 255);
}

/*--------- NAV: TOGGLE-MENU ---------*/

nav {
  display: none;
}

nav.open {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

nav ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

/*--------- PRODUCTS ---------*/

article p {
  color: rgb(235, 234, 250);
}

.productlist article {
  border: 1px solid #000000;
  padding: 6px;
  background-color: rgb(58, 55, 94);
  border-radius: 6px;
  margin-bottom: 10px;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

button {
  margin-bottom: 8px;
}

.container div {
  display: flex;
  gap: 10px;
}

/*--------- CONTACT ---------*/
.h2-kontakt {
  color: rgb(51, 47, 109);
  background-color: white;
  padding-left: 6px;
  padding-block: 8px;
}

fieldset {
  border: none;
  background-color: rgb(153, 150, 196);
  border-radius: 8px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 6px;
}

@media screen and (min-width: 720px) {
  header {
    padding-inline: 40px;
  }

  .productlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
