*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*--------------------------------------------*/

.productlist,
.section {
  margin-bottom: 40px;
}

body {
  background-color: rgb(235, 234, 250);
}

header {
  background-color: white;
  margin-bottom: 10px;
}

h1 {
  color: rgb(51, 47, 109);
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 8rem;
  margin-top: -10px;
}

h3 {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(51, 47, 109);
  background-color: white;
  padding-left: 6px;
  padding-block: 8px;
  text-align: left;
}

.container {
  padding: 8px;
}

.containerNav {
  padding: 8px;
  display: flex;
  gap: 4px;
}

.container div,
.containerNav div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.total-sum {
  color: rgb(51, 47, 109);
  font-weight: bold;
}

/* ------- varukorg och meny nav-knapp ------ */
.fixedNavIcon {
  background-color: rgba(153, 150, 196, 0.7);
  position: fixed; /*2DO- BÖRJA I STARTPOS. EJ I TOPPEN!!!*/
  z-index: 9999;
  left: 10px;
  right: 10px;
  padding-top: 10px;
  padding-left: 8px;
}

/* ----------------- Huvudmeny ---------------*/

.mainNav {
  display: none;
}

.mainNav.open {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: rgb(153, 150, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.mainNav ul {
  list-style: none;
}

.filterNav {
  display: none;
}

.filterNav.open {
  display: block;

  display: flex;
  align-items: center;
  gap: 10px;
}

li a {
  text-decoration: none;
}

/*--------------- Produktkort ----------------*/

article p {
  color: rgb(235, 234, 250);
}

.productlist article {
  background-color: rgb(58, 55, 94);
  border-radius: 6px;
  margin-bottom: 10px;
}

.productCard {
  padding: 20px;
}

.inputProductCard {
  display: flex;
  align-items: center;
  text-align: center;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
}

button {
  margin-bottom: 8px;
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}

.material-symbols-outlined {
  color: rgb(235, 234, 250);
  background-color: rgb(58, 55, 94);
  border-radius: 4px;
  padding: 4px;
  border: none;
  font-size: 1.2rem;
}

button.buy {
  font-size: 1.5rem;
  position: relative;
  bottom: -7px;
}

.product-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
}

.product-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.productAddSubtract {
  margin-top: 16px;
}

/* ---------------- Varukorg --------------- */

.cart {
  margin-bottom: 20px;
}

.cartProducts {
  display: block;
  margin-bottom: 12px;
}

.cartProducts div {
  margin-bottom: 4px;
}

/* --------- animation prisändring ---------- */
.cartProducts {
  font-weight: bold;
  color: rgb(51, 47, 109);
}

.cart-total {
  transition: all 0.2s ease-in-out;
}

.highlight-price {
  font-size: 1.25rem;
  color: rgb(9, 159, 159);
  font-weight: bold;
}

.cartProductSum {
  color: rgb(72, 60, 203);
  font-weight: bold;
}

/* ------------- Kontaktformulär ------------ */
form {
  justify-content: center;
  background-color: rgb(153, 150, 196);
  border-radius: 8px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 10px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 10px;
}
fieldset.contactInput label {
  position: relative;
  margin-bottom: 25px;
}

input {
  border-radius: 8px;
  border: none;
  padding: 4px;
}

fieldset.contactInput input {
  width: 300px;
}

fieldset.contactInput label span {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;

  pointer-events: none;
  transition: top 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

label input:focus + span {
  top: -20px;
  align-items: start;
}

/* -------input-pilar (cross-browser) --------*/

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: texfield;
  -moz-appearance: textfield;
}

/* ------------------ Footer ------------------*/

footer {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
}

footer a {
  text-decoration: none;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 4px;
  color: black;
  margin-bottom: 4px;
}

/* ------------- externa länkar ------------- */

footer .fa {
  font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
  header {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-inline: 40px;
  }

  h1 {
    margin-top: -36px;
    margin-bottom: -55px;
  }

  form {
    display: flex;
    margin-block: 20px;
    margin-inline: 200px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .fixedNavIcon {
    background-color: rgb(153, 150, 196, 0);
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .containerNav,
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .productlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }

  /* ---------------- Varukorg --------------- */

  .cartProducts {
    text-align: center;
  }

  /* ------------------ Footer ------------------*/

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
