body {
  background-color: rgb(207, 227, 255);
}

.productlist article {
  border: 1px solid #000000;
  padding: 6px;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

@media screen and (min-width: 720px) {
  .productlist {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }
}
