body {
  background-color: rgb(235, 234, 250);
}

header {
  background-color: white;
  margin-block: 20px;
}

h1 {
  color: rgb(51, 47, 109);
}

h2 {
  color: rgb(255, 255, 255);
}

article p {
  color: rgb(235, 234, 250);
}

.productlist article {
  border: 1px solid #000000;
  padding: 6px;
  background-color: rgb(51, 47, 109);
  border-radius: 6px;
  margin-bottom: 10px;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

button {
  margin-bottom: 8px;
}

@media screen and (min-width: 720px) {
  header {
    padding-inline: 40px;
  }

  .productlist {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
