body {
  background-color: rgb(207, 227, 255);
}

.productlist article {
  border: 1px solid #000000;
  padding: 6px;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
