*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/*--------------------------------------------*/

.productlist,
.section {
  margin-bottom: 40px;
}

body {
  background-color: rgb(235, 234, 250);
}

header {
  position: relative;
  margin-top: 0;
  height: 137px;
  background-color: white;
  margin-bottom: 90px;
}

h1 {
  margin: 0;
  color: rgb(51, 47, 109);
  padding-bottom: 18px;
  text-transform: uppercase;
  font-size: 9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: -20px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 1.25rem;
}

h2 {
  color: rgb(51, 47, 109);
  background-color: white;
  padding-left: 6px;
  padding-block: 8px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
}

h4,
footer a,
form span,
input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

label input[type='radio'] + span,
label input[type='checkbox'] + span {
  font-weight: 400 !important;
}

h4 {
  font-weight: bold;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 0.75rem;
}

.container {
  padding: 8px;
}

.containerNav {
  padding: 8px;
  display: flex;
  gap: 4px;
}

.container div,
.containerNav div {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* --------- fig.img.linjeteckningar --------- */
.catStretch img,
.catBack img {
  position: absolute;
  pointer-events: none;
}

.catStretch img {
  left: 335px;
  top: 65px;
  width: 200px;
}

.catBack img {
  left: 285px;
  bottom: 160px;
  width: 240px;
}

/* ------- varukorg och meny-nav fixerad ----- */
.fixedNavIcon {
  background-color: rgba(153, 150, 196, 0.7);
  width: 100%;
  padding-top: 10px;
  padding-left: 8px;
}

.fixedNavIcon.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  z-index: 9999;
}

.total-sum {
  color: rgb(9, 159, 159);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8rem;
}

/* ----------------- Huvudmeny ---------------*/

.mainNav {
  display: none;
}

.mainNav.open {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: rgb(153, 150, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.mainNav ul {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  text-align: center;
  color: rgb(51, 47, 109);
}

.filterNav {
  display: none;
}

.filterNav.open {
  display: block;

  display: flex;
  align-items: center;
  gap: 10px;
}

li a {
  text-decoration: none;
}

/*--------------- Produktkort ----------------*/

article p {
  color: rgb(235, 234, 250);
}

.productlist article {
  background-color: rgb(58, 55, 94);
  border-radius: 6px;
  margin-bottom: 10px;
}

.productCard {
  padding: 20px;
}

.inputProductCard {
  display: flex;
  align-items: center;
  text-align: center;
}

.productlist .metadata {
  display: flex;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
}

.product-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.productAddSubtract {
  margin-top: 16px;
}

/* ---------------- knappar ----------------- */

button {
  margin-bottom: 8px;
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}

.material-symbols-outlined {
  color: rgb(58, 55, 94);
  background-color: rgb(153, 150, 196);
  border-radius: 4px;
  padding: 4px;
  border: none;
  font-size: 1.2rem;
}

button.buy {
  font-size: 1.25rem;
  position: relative;
  bottom: -5px;
}

button.send,
button.resetORder {
  border-radius: 8px;
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  font-style: normal;
  background-color: rgb(51, 47, 109);
  color: rgb(255, 255, 255);
}

button.resetORder {
  color: rgb(51, 47, 109);
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}

.filterNav button {
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  font-style: normal;
  background-color: rgb(51, 47, 109);
  color: rgb(255, 255, 255);
}
/* ---------------- Varukorg --------------- */

.cart {
  margin-bottom: 20px;
}

.cartProducts {
  display: block;
  margin-bottom: 12px;
}

.cartProducts div {
  margin-bottom: 4px;
}

/* --------- animation prisändring ---------- */
.cartProducts {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: rgb(51, 47, 109);
}

.cart-total {
  transition: all 0.2s ease-in-out;
}

.highlight-price {
  font-size: 1rem;
  color: rgb(9, 159, 159);
  font-weight: bold;
}

.cartProductSum {
  color: rgb(72, 60, 203);
  font-weight: 600;
}

/* ------------- Kontaktformulär ------------ */
form {
  position: relative;
  justify-content: center;
  background-color: rgb(153, 150, 196);
  border-radius: 8px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 10px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 10px;
}
fieldset.contactInput label {
  position: relative;
  margin-bottom: 25px;
}

input {
  border-radius: 8px;
  border: none;
  padding: 4px;
}

fieldset.contactInput input {
  width: 300px;
}

fieldset.contactInput label span {
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;

  pointer-events: none;
  transition: top 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

label input:focus + span,
label input:not(:placeholder-shown) + span {
  top: -18px;
  align-items: start;
  font-weight: bold;
}

/* ------ betalnings-alt. formulär-box.alt ------*/

.box input {
  margin-bottom: 10px;
}

.box {
  display: none;
}

label:has(input.invoice:checked) ~ .box.invoice,
label:has(input.card:checked) ~ .box.card {
  display: block;
  margin-bottom: 20px;
}

h4 {
  margin-block: 10px;
}

/* -------input-pilar (cross-browser) ------- */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: texfield;
  -moz-appearance: textfield;
}

input.card-date {
  width: 30px;
  padding-inline: 4px;
}

input.card-cvc {
  width: 42px;
}

/* ----------- Input felmeddelanden --------- */
.contactInput .hidden,
.hidden {
  display: none;
}

.error {
  color: rgb(111, 7, 7);
  font-size: 0.7rem;
  margin-top: -20px;
}

/* ------------------ Footer ------------------*/

footer {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
}

footer a {
  text-decoration: none;
  font-weight: 500;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 4px;
  color: rgb(51, 47, 109);
  margin-bottom: 4px;
  font-weight: 500;
}

/* ------------- externa länkar ------------- */

footer .fa {
  font-size: 1.5rem;
}

@media screen and (min-width: 720px) {
  header {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-inline: 40px;
    height: 100px;
  }

  h1 {
    margin-top: -36px;
    margin-bottom: -55px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  /* ------------ nav-ikon-fixerad ------------ */

  .fixedNavIcon {
    background-color: rgba(153, 150, 196, 0);
    justify-content: flex-end;
  }

  .fixedNavIcon.fixed {
    left: -16px;
  }

  .containerNav,
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  /* ------------- produkt-kort --------------- */

  .productlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6px;
  }

  .productlist article {
    width: 30%;
  }

  /* ---------------- Varukorg --------------- */

  .cartProducts {
    text-align: center;
  }

  /* ------------- Kontaktformulär ----------- */

  form {
    display: flex;
    margin-block: 20px;
    margin-inline: 200px;
  }

  /* -------- fig.img.linjeteckningar --------- */
  .catStretch img {
    left: 390px;
    top: -140px;
    width: 420px;
  }

  .catBack img {
    left: 490px;
    bottom: -180px;
    width: 500px;
  }

  /* ----------------- Footer ---------------- */

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
